.title{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 5vw;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    margin: 20px;
    padding-bottom: 50px;
}

.gridItem {
    background-color: #f0f0f0;
    padding: 20px;
    font-size: large;
    box-shadow: 2px 4px 8px rgba(0,0,0,0.35);
    border-radius: 15px;
    background: linear-gradient(45deg, #f7d9d2, #d8a27e);
}

.issueTable{
    text-align: center;
    justify-content: center;
    align-items: center ;
    margin:auto ;
    border: 2px solid black;
}
.issueTable td,th{
    border: 2px solid black;
    width: 150px;
    padding: 10px;
}

.button{
    border-radius: 2vw;
    font-size: larger;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 20px;
    margin-bottom: 40px;
}