.title{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 5vw;
}
.subtitle{
    margin-left: 5vw;
}
.form{
    margin: 5vw;
     margin-bottom: 20px;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 10vw;
    margin: 4vw;
}

.gridItem {
    background-color: #f0f0f0;
    padding: 20px;
    font-size: large;
}