.title{
    text-align: center;
    justify-content: center;
    align-items: center;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 10px;
    margin: 4vw;
    
}

.gridItem {
    background-color: #f0f0f0;
    padding: 20px;
    font-size: large;
}

.attendanceGrid{
    text-align: center;
    justify-content: center;
    align-items: center;       
    margin-left: 2vw;
    margin-bottom: 2vw;
    width: 98%;
    overflow-x: auto;
    
}

.attendanceGrid td{
    border: 2px solid black;
}

.attendanceGrid th{
    border: 2px solid black;
}